---
title: Home
layout: layout.liquid
---
{% for post in collections.posts %}
    <article>
        <div class="article-header">
            <time class="article-date" datetime="{{ post.date }}">{{ post.date | date: "%Y-%m-%d" }}</time>
            <a class="article-title" href="{{ post.url }}">{{ post.data.title }}</a>
        </div>
        <p class="article-description">{{ post.data.description }}</p>
    </article>
{% endfor %}
