---
title: Home
layout: layout.liquid
---
{% for article in collections.articles %}
    <article>
        <div class="article-header">
            <time class="article-date" datetime="{{ article.date }}">{{ article.date | date: "%Y-%m-%d" }}</time>
            <a class="article-title" href="{{ article.url }}">{{ article.data.title }}</a>
        </div>
        <p class="article-description">{{ article.data.description }}</p>
    </article>
{% endfor %}
