<!DOCTYPE html>
<!-- Copyright (c) 2022 Sharpened Blade -->
<html lang="en">
    <head>
        <title>Sharpened Blade - {{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href={{ '/styles/style.css' | url }} rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="/index.html"><b>Sharpened Blade</b></a>
            <nav>
                {% for about in collections.about %}
                    <a href="{{ about.url }}">{{ about.data.title }}</a>
                {% endfor %}
            </nav>
        </header>

        <main>
            <div id="content">
                {{ content }}
            </div>
        </main>

        <footer>
            <p>Sharpened Blade's website.</p>
        </footer>
    </body>
</html>
